@import url('https://fonts.googleapis.com/css?family=Dosis|Lato|Open+Sans+Condensed:300');

$primary-blue: #337ab7;
$secondary-blue: #2e6da4;
$acent: #1fbad6;
$darker:#070716;


body{
	font-family: 'Dosis', sans-serif;
	padding: 0;
margin: 0;
max-width: 100%;
overflow-x: hidden !important;
}
ul{
	li{
		list-style: none!important;
	}
}
.banner{
	width: 100%;
	height: 70vh;
	background-color: $primary-blue;
}
.content{
	width: 90% !important;
	margin: 0 auto !important;
	max-width: 100% !important;
	
	#principal{
		width: 100% !important;
		
		.title{
			text-align: center !important;
			color: $primary-blue !important;
		}
		.subtitle{
			text-align: center !important;
		}
	}
	#learn{
		text-align: center !important;
		.title{
			font-size: 25px !important;
			letter-spacing: 2px !important;
			color: $secondary-blue !important;
			border: 1px solid $primary-blue !important;
			padding: 5px 10px !important;
			width: 20% !important;
			margin: 0 auto !important;
			border-radius: 5px !important;
			&:hover{
				cursor: pointer !important;
			}
		}

	}
	.apps{
		.app{
      
      width: 90% !important;
      margin: 0 auto !important;
      .title{
        text-align: center !important;
            margin-top: 10px !important;
            color: #596072 !important;
            font-size: 30px !important;
            line-height: 50px !important;
            margin-bottom: 30px !important;
      }
      .content{
        width: 100% !important;
        max-width: 100% !important;
        height: 60vh !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important; 
        .item{
          float: left !important;
          width: 50% !important;
          max-height: 100% !important;
        }
        .description{
        	ul{
        		li{
        			margin: 0 0 10px 0 !important;
        			color: $darker !important;
        		}
        	}
          p{
            text-align: justify !important;
            color: $darker !important;
          }
          .links{
            width: 60% !important;
            margin: 0 auto !important;
            a{
              float: left !important;
              width: 50% !important;
              img{
                max-width: 100% !important;
                height: auto !important;
              }
            }
          }
        }
        .layer{
          position: relative !important;
          img{
             position: absolute !important;
              top: 0 !important;
              right: 0 !important;
              bottom: 0 !important;
              left: 0 !important;
              margin: auto !important;
                 
            max-width: 80% !important;
            height: auto !important;
            max-height: 430px !important;
          }
        }
      }
    }
	}
}











.banner-menu{
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 60px !important;
	background-color: $primary-blue;
}
.brand{
	a{
		max-height: 100%;
	}
}


#menu1{
	border: 1px solid #fff;
	background-color: $primary-blue;
	padding: .4rem 1.2em;
	border-radius: 5px;
}
.sign-up{
	border: 1px solid #fff;
	background-color: $primary-blue;
	padding: .4rem 1.2em;
	border-radius: 5px;
}