@import url('https://fonts.googleapis.com/css?family=Dosis|Lato|Open+Sans+Condensed:300');

$primary-blue: #337ab7;
$secondary-blue: #2e6da4;
$acent: #1fbad6;
$darker:#070716;

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;
$white: #fff;

$lineWidth: 5px;
$lineLength: 25px;
$baseMargin: 8px;
$animationDuration: .2s;

body{
	font-family: 'Dosis', sans-serif !important;
	padding: 0 !important;
	margin: 0 !important;
	max-width: 100% !important;
	overflow-x: hidden !important;
}
ul{
	li{
		list-style: none;
	}
}



#mobile-nav{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 3em;
  background-color: $primary-blue !important;
  color: #fff !important;
  .title{
   width: 100%;
   text-align: center;
   .text{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
   }
  }
}
.banner{
	width: 100%;
	height: 70vh;
	background-color: $darker;
}
#contenido{
	width: 90% !important;
	margin: 0 auto !important;
	max-width: 100% !important;
	
	#principal{
		width: 100% !important;
		
		.content{
      .title{
      text-align: center !important;
      color: $primary-blue !important;
      font-size: 40px !important;
    }
    .subtitle{
      text-align: center !important;
    }
    }
	}
	#learn{
		text-align: center !important;
		.title{
			font-size: 25px !important;
			letter-spacing: 2px !important;
			color: $secondary-blue !important;
			border: 1px solid $primary-blue !important;
			padding: 5px 10px !important;
			width: 20% !important;
			margin: 0 auto !important;
			border-radius: 5px !important;
			&:hover{
				cursor: pointer !important;
			}
		}

	}

}


  #apps{

    .app{
      
      width: 90% !important;
      margin: 0 auto !important;
      border-bottom: 1px solid #ccc;
      .title{
        text-align: center !important;
            margin-top: 10px !important;
            color: #596072 !important;
            font-size: 30px !important;
            line-height: 50px !important;
            margin-bottom: 30px !important;
      }
      .content{
        width: 100% !important;
        max-width: 100% !important;
        height: 60vh !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important; 
        .item{
          float: left !important;
          width: 50% !important;
          max-height: 100% !important;
        }
        .description{
          ul{
            li{
              margin: 0 0 10px 0 !important;
              color: $darker !important;
            }
          }
          p{
            text-align: justify !important;
            color: $darker !important;
          }
          .links{
            width: 60% !important;
            margin: 0 auto !important;
            a{
              float: left !important;
              width: 50% !important;
              img{
                max-width: 100% !important;
                height: auto !important;
              }
            }
          }
        }
        .layer{
          position: relative !important;
          img{
             position: absolute !important;
              top: 0 !important;
              right: 0 !important;
              bottom: 0 !important;
              left: 0 !important;
              margin: auto !important;
                 
            max-width: 80% !important;
            height: auto !important;
            max-height: 430px !important;
          }
        }
      }
    }
  }

.hide-in-desktop{
  display: none !important;
}
@media only screen and (max-width:800px) {
 .banner-menu{
  display: none !important;
 }
  .responsive{
    max-width: 80%;
    margin: 0 auto !important;
  }
 .banner{
  display: none;
 } 
 .hide-in-desktop{
  display: block !important;list-style: none !important;
 }

 #contenido{
  width: 100% !important;
  #principal{
    display: table;
    height: 70vh !important;
    margin-top: 3em !important;
    .content{
      display: table-cell;
      vertical-align: middle;
       .title{
      font-size: 30px !important;
      
    }
    .subtitle{
      font-size: 16px !important;
      margin-top: 10px !important;
      
    }
    }
  }
  #learn{
    .title{
      margin-top: 10px !important;
      width: 80% !important;
      font-size: 16px !important;
    }
  }
  #apps{
    width: 100%;
    height: auto !important;
    min-height: 100vh !important;

    .app{
      height: auto !important;
      width: 100% !important;
      .content{
        height: auto !important;
        .item{
          height:  auto !important;
          width: 95% !important;
          margin:  0 auto !important;
          max-height: auto !important; 
        }
        .layer{
          display: none !important;
        }
      }
    }
    .client{
      background-color: $primary-blue !important;
      color: $white !important;
      .title{
        color: $white !important;

      }
      .content{
        height: auto !important; 

        .item{
          width: 95% !important;
          margin:  0 auto !important;
          max-height: auto !important;
          ul{
            li{
              color: $white !important;
            }
          }
        }
        .layer{
          display: none !important;
        }
      }
    }
  }
  
 }
}


#hamburger {
  display: none;
}

.menu {
  
  background-color: $primary-blue;
  width: 200px;
  height: 100%;
  -webkit-transition-duration: $animationDuration;
  -moz-transition-duration: $animationDuration;
  -ms-transition-duration: $animationDuration;
  -o-transition-duration: $animationDuration;
  transition-duration: $animationDuration;
  -webkit-transition-delay: $animationDuration;
  -moz-transition-delay: $animationDuration;
  -ms-transition-delay: $animationDuration;
  -o-transition-delay: $animationDuration;
  transition-delay: $animationDuration;
  position: fixed;
  ul{
    list-style: none;
    padding: 0;

    li{
    border-bottom: 1px solid #fff;
      width: 100%;
      height: 2em;
      &:hover{
          background-color: $secondary-blue;
        }
      a{
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }
}

.menuicon {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  cursor: pointer;
  height: $baseMargin*2 + $lineWidth;
  width: $lineLength;
  span {
    display: block;
    top: $baseMargin;
    width: $lineLength;
    height: $lineWidth;
    background-color: #fff;
    position: relative;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;  
    -webkit-transition-delay: $animationDuration;
    -moz-transition-delay: $animationDuration;
    -ms-transition-delay: $animationDuration;
    -o-transition-delay: $animationDuration;
    transition-delay: $animationDuration;
    &::after, &::before {
      display: block;
      content: '';
      position: absolute;
      width: $lineLength;
      height: $lineWidth;
      background-color: #fff;
      -webkit-transition-property: margin, -webkit-transform;
      -webkit-transition-duration: $animationDuration;
      -moz-transition-duration: $animationDuration;
      -ms-transition-duration: $animationDuration;
      -o-transition-duration: $animationDuration;
      transition-duration: $animationDuration;
      -webkit-transition-delay: $animationDuration, 0;
      -moz-transition-delay: $animationDuration, 0;
      -ms-transition-delay: $animationDuration, 0;
      -o-transition-delay: $animationDuration, 0;
      transition-delay: $animationDuration, 0;
    }
    &::before {
      margin-top: -$baseMargin;
    }
    &::after {
      margin-top: $baseMargin;
    }
  }
}

#hamburger:checked ~ .menu {
  width: 250px !important;
}

#hamburger:checked ~ .menuicon {
  span {
    background-color: rgba(0,0,0,0);
    &::before, &::after {
      margin-top: 0px;
      -webkit-transition-delay: 0, $animationDuration;
      -moz-transition-delay: 0, $animationDuration;
      -ms-transition-delay: 0, $animationDuration;
      -o-transition-delay: 0, $animationDuration;
      transition-delay: 0, $animationDuration;
    }
    &::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}




.banner-menu{
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 60px !important;
	background-color: $primary-blue;
}
.brand{
	a{
		max-height: 100%;
	}
}


#menu1{
	border: 1px solid #fff;
	background-color: $primary-blue;
	padding: .4rem 1.2em;
	border-radius: 5px;
}
.sign-up{
	border: 1px solid #fff !important;
	background-color: $primary-blue !important;
	padding: .4rem 1.2em !important; 
	border-radius: 5px !important;
}